* {
box-sizing: border-box;
padding: 0;
margin:0;
}

 .container{
  margin: auto;
  border:10px solid black;
  width:940px;
}

.ipad {
  display: inline-block;
  position: relative;
}

.smartphone {
  display: inline-block;
  position: relative;
}

.cuffie {
  display: inline-block;
  position: relative;
}

.discount {
background-color: green;
position: absolute;
top: 0;
right: 0;
}

.red{
  background-color: red;
}

.heart {
position: absolute;
bottom: 0;
right: 48%;
font-size: 40px;
opacity:0;
}

.heart:hover {
  color: red;
  opacity:1;
}

.secondariga{
  margin-top:20px;
  padding-left: 6px;
}

.primariga {
  padding-left: 6px;
}
